@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
}

.head {
    padding: 25px;
    font-size: 24px;
}

.container {
    /* border: 1px solid red; */
    width: 150vh;
    height: inherit;
    margin-top: 125px;
    margin-left: 500px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid: auto auto auto auto / auto auto;
    grid-gap: 10px;
    /* border: 1px solid #f5f5f5; */
    padding: 10px;
}

.form_label {
    font-size: 20px;
    padding: 20px;
}

.form_input {
    margin: 0 auto;
    width: 60%;
    height: 35%;
    padding: 30px;
    border: none;
    border-radius: 25px;
    background-color: #f5f5f5;
}

form {
    position: relative;
}

.btns {
    right: 250px;
    position: absolute;
    border: 1px solid #000;
    color: #000;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
}

.btnc {
    right: 25px;
    position: absolute;
    border: 1px solid #000;
    color: #000;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
}